* {
  box-sizing: border-box;
  margin: 0px;
  margin: 0px;
}
html {
  font-size: 1rem;
}
:root {
  --mainColor: rgb(0, 103, 134);
  --secodColor: rgb(233, 229, 229);
  --thirdColor: darkgrey;
  --whiteColor: white;
  --subColor: rgb(248, 232, 10);
  --subColordark: rgba(168, 157, 4, 0.308);
  --black: black;
  --gold: gold;
}
body {
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--subColordark);
}
button {
  font: helvetica;
  padding: 0.5rem;

  cursor: pointer;

  font-size: 20px;
}
button:hover {
  border: 0.1rem solid var(--thirdColor);
}
.primary {
  border: 0.1rem solid var(--mainColor);
  background-color: var(--subColordark);
  color: var(--mainColor);
  font-weight: 600;
}
.fw {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 2rem;
  height: 100%;
}
header {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 50px;
}
header a {
  color: var(--whiteColor);

  transition: 0.5s ease-in-out;
}
header a:hover {
  color: var(--subColor);
}
header div:first-child a {
  font-size: 3rem;
}
header div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/*Products*/
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
.products li {
  flex: 0 1 20rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 14rem;
  border-top: 0.2rem solid var(--mainColor);

  max-width: 15rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.product img {
  max-height: 10rem;
  max-width: 12rem;
  margin-top: 0.1rem;
}
.product-name {
  line-height: 1.8rem;
}
.product-brand {
  color: var(--thirdColor);
}
.product-price {
  font-size: 1.1rem;
}

.rating {
  color: var(--gold);
}
.rating span:last-child {
  color: var(--thirdColor);
  font-size: 0.7rem;
}
.content {
  padding: 1rem;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-image {
  flex: 2 2 50%;
}

.details-image img {
  max-width: 80%;
  width: 100%;
}
.details-info {
  flex: 2 1 25%;
}
.details-action {
  flex: 1 1 25%;
}
.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}
.details-info h1 {
  font-size: 1.5rem;
}
.details-action li,
.details-info li {
  margin-bottom: 1rem;
}
.details-action {
  border: 0.1rem solid var(--mainColor);
  text-align: center;
  border-radius: 3px;
  background-color: var(--secodColor);
  padding: 1rem;
}
.mc {
  color: var(--mainColor);
  font-size: 20px;
  font-weight: 500;
}
.ms:hover {
  color: black;
}
.success {
  color: var(--mainColor);
}
.error {
  color: red;
}
*:focus {
  outline: 0;
}
.cart {
  margin-top: 10px;
  width: 100%;
  /* background-color: red; */

  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.cart-action {
  margin-top: 5px;
  /* background-color: blue; */
  flex: 0 1 24%;
  max-height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.cart-action h3 {
  font-size: 15px;
}
.cart-action button {
  /* height: 20px; */
  font-size: 10px;
}
.cart-list {
  /* background-color: rgb(44, 207, 80); */
  flex: 1 1 75%;
}
.cart-list-container {
  /* background-color: rgb(190, 175, 175); */
}
.cart-list-container > li:first-child {
  /* background-color: saddlebrown; */
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.cart-list-container > li:first-child h3 {
  flex: 1 1 75%;
  font-size: 12px;
  margin-left: 50px;
}
.cart-list-container > li:first-child div {
  flex: 1 1 24%;
  font-size: 15px;
  text-align: center;
}
.cart-list-container > li {
  /* background-color: seagreen; */
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.cart-list-container > li .cart-image {
  flex: 2 1 25%;
  /* background-color: skyblue; */
  text-align: center;
}
.cart-list-container > li .cart-name {
  flex: 1 1 50%;
  /* background-color: rgb(44, 53, 56); */
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.cart-list-container > li .cart-name a {
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 3px;
}
.cart-list-container > li .cart-name button {
  font-size: 10px;
}
.cart-list-container > li .cart-name select {
  font-size: 15px;
}
.cart-list-container > li .cart-price {
  flex: 1 1 24%;
  /* background-color: rgb(24, 122, 155); */
  font-size: 15px;
  text-align: center;
  line-height: 75px;
}
.cart-list-container > li .cart-image img {
  max-width: 150px;
  margin-top: 3px;
}
@media only screen and (max-width: 800px) {
  .cart-list-container > li:first-child div {
    flex: 1 1 15%;
    font-size: 13px;
  }
  .cart-list-container > li .cart-image {
    flex: 2 1 20%;
    font-size: 13px;
  }
  .cart-list-container > li .cart-name {
    flex: 1 1 70%;
    font-size: 13px;
  }

  .cart-list-container > li .cart-name button {
    font-size: 10px;
  }
}
@media only screen and (max-width: 700px) {
  header {
    padding-left: 100px;
  }
  .cart-list-container > li:first-child div {
    font-size: 8px;
  }
  .cart-list-container > li .cart-image {
    font-size: 8px;
  }
  .cart-list-container > li .cart-name a {
    font-size: 12px;
  }
  .cart {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .cart-list-container > li .cart-name button {
    font-size: 13px;
  }
}
@media only screen and (max-width: 650px) {
  header div:first-child a {
    font-size: 2rem;
    color: var(--mainColor);
  }
  .cart-list-container > li:first-child div {
    font-size: 15px;
  }
  .cart-list-container > li .cart-image {
    font-size: 8px;
  }
  .cart-list-container > li .cart-name a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 550px) {
  #qty,
  .qty {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }
  header {
    padding-left: 50px;
  }
  header div:first-child a {
    font-size: 1.5rem;
    color: var(--mainColor);
  }
  .cart-list-container > li .cart-name button {
    font-size: 10px;
  }
  .cart-list-container > li:first-child div {
    font-size: 15px;
  }
  .cart-list-container > li:first-child div .qty {
    font-size: 10px;
  }
  .cart-list-container > li .cart-image img {
    max-width: 90px;
  }
  .cart-list-container > li .cart-name {
    flex-direction: column;
  }
}
@media only screen and (max-width: 350px) {
  header {
    padding-left: 20px;
  }
}
